<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div>
			<div>
				<h2 class="px-5 py-5">Weekly Analytics of the Bins</h2>
			</div>
			<div class="px-5" style="max-width: 600px; max-height: 600px">
				<canvas id="myLineChart"></canvas>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		// var chart2 = document.getElementById("myLineChart");
	</script>
</html>
